footer {
    display: flex;
    justify-content: center;
    position: relative;
    top: 15rem; 
    button {
        text-decoration: none;
        color: #fff;
        font-size: 1rem;
        border: none;
        background: #fc09a0;
        width: 100%;
        padding: 0.5rem 1rem;
    }
}