/* scss/partials/_pixel-card.scss */

.pixel-card {
    font-family: 'Press Start 2P', monospace; /* Fuente Pixelada */
    background-color: #fdf5e6; /* Fondo Hueso */
    border: 4px solid #3e2c21; /* Borde Café Oscuro */
    padding: 20px;
    color: #3e2c21;
    box-shadow: 8px 8px 0 rgba(0,0,0,0.2); /* Sombra sólida */
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    text-transform: uppercase;
    
    &__header {
        text-align: center;
        margin-bottom: 15px;
        border-bottom: 4px solid #3e2c21;
        padding-bottom: 10px;
    }

    &__name {
        font-size: 2.5rem;
        line-height: 1.6;
        margin: 0;
        color: #3e2c21;
    }

    &__image-frame {
        background-color: #3e2c21;
        padding: 4px; /* Grosor del marco interno */
        margin-bottom: 20px;
    }

    &__label-top,
    &__label-bottom {
        background-color: #3e2c21;
        color: #e4c388; /* Color Arena para contraste */
        text-align: center;
        padding: 6px 0;
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: 1px;
    }

    &__main-img {
        width: 100%;
        height: auto;
        display: block;
        background-color: #fff;
        border-top: 2px solid #3e2c21;
        border-bottom: 2px solid #3e2c21;
        object-fit: cover;
    }

    &__info-box {
        background-color: #e4c388; /* Fondo de caja de texto estilo retro */
        border: 2px solid #3e2c21;
        padding: 15px;
        margin-bottom: 20px;
        text-align: center;
        
        .pixel-card__text {
            font-size: 1rem;
            line-height: 1.5;
            margin: 0;
            font-family: 'Press Start 2P', monospace; /* Mantiene fuente pixelada */
        }

        .highlight {
            display: block;
            margin-top: 5px;
            color: #fff;
            font-size: 1.45rem;
            font-weight: bold;
            text-shadow: 2px 2px 0 #3e2c21; /* Efecto de relieve */
        }
    }

    &__social {
        display: flex;
        justify-content: center;
        gap: 25px;
        padding-top: 5px;

        a {
            color: #3e2c21;
            font-size: 20px;
            text-decoration: none;
            transition: transform 0.1s;
            background-color: #fff;
            border: 2px solid #3e2c21;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 4px 4px 0 rgba(0,0,0,0.1);

            &:hover {
                transform: translate(2px, 2px);
                box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
                background-color: #e4c388;
            }
        }
    }
}