/* scss/partials/_pixel-card.scss */

.pixel-card {
    font-family: 'Press Start 2P', monospace; /* Fuente Pixelada */
    background-color: #fdf5e6; /* Fondo Hueso */
    border: 4px solid $color-primary; /* Borde Rosa Fuerte */
    padding: 20px;
    color: $uvaBlue;
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
    text-transform: uppercase;
    
    &__header {
        text-align: center;
        margin-bottom: 10px;
        border-bottom: 2px solid $uvaBlue;
    }

    &__name {
        font-size: 4rem;
        line-height: 1.6;
        margin: 0;
        color: $uvaBlue;
    }


    &__label-top,
    &__label-bottom {
        color: $uvaBlue; /* Color Arena para contraste */
        text-align: center;
        padding: 6px 0;
        font-size: 1.2rem;
        line-height: 1.5;
        letter-spacing: 1px;
    }

    &__main-img {
        width: 80%;
        height: auto;
        display: block;
        background-color: #fff;
        border: 5px solid $uvaBlue;
        object-fit: cover;
        margin: 0 auto;
    }

    &__info-box {
        margin-bottom: 10px;
        text-align: center;
        
        .pixel-card__text {
            font-size: 1.2rem;
            line-height: 1.5;
            margin: 0;
            font-family: 'Press Start 2P', monospace; /* Mantiene fuente pixelada */
        }

        .highlight {
            font-size: 1.2rem;
            line-height: 1.5;
            margin: 0;
            font-family: 'Press Start 2P', monospace; /* Mantiene fuente pixelada */

        }
    }

    &__social {
        display: flex;
        justify-content: center;
        gap: 25px;
        padding-top: 5px;

        a {
            color: $uvaBlue;
            font-size: 20px;
            text-decoration: none;
            transition: transform 0.1s;
            background-color: #fff;
            border: 2px solid $uvaBlue;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 4px 4px 0 rgba(0,0,0,0.1);

            &:hover {
                transform: translate(2px, 2px);
                box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
                background-color: #e4c388;
            }
        }
    }
}