$uvaBlue: #232D4B; 
$uvaOrange: #E57200; 

/// Colores
$color-primary:   #e6007e; // Rosa fuerte
$color-secondary: #f1b2c4; // Rosa suave
$color-sky:       #87ceeb; // Azul fondo
$color-dark:      #2d3e50; // Azul oscuro texto
$color-white:     rgba(255, 255, 255, 0.8); // Blanco con opacidad para Glassmorphism



